<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anon Board</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body class="base">

<div class="topnav" id ="topnav">
    <a class="name-icon" href="#">Anon Board</a>
    <ul >
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">New</a></li>
        <li><a href="#">Home</a></li>
    </ul>
</div>
<div class='content'>
    {% block content %}
        Body content
    {% endblock %}
</div>
</body>
</html>